*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
}
h1{
    margin-top: 20px;
    color: #FFFFFF;
}

.container{
    /* height: 40rem; */
    width: 26.5rem;
    background-color: lightgray;
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.display {
    width: 24rem;
    height: 5rem;
    background-color: lightblue;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

button{
    height: 60px;
    width: 60px;
    background-color: white;
    font-size: large;
    /* text-align: center; */
    border-radius: 3px;
}

.red{
    background-color: rgb(228, 114, 49);
    color: #FFFFFF;
}

.equals{
 width: 141px;
}
